<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>姓：<input type="text" v-model="firstName"/></p>
        <p>名：<input type="text" v-model="lastName"/></p>
        <p>姓名单向：<input type="text" v-model="name1"/></p>
        <p>姓名单向：<input type="text" v-model="name2"/></p>
        <p>姓名双向：<input type="text" v-model="name3"/></p>
    </div>


    <script>
    let vm = new Vue({
        el :'#app',
        data:{
            firstName :'a',
            lastName :'b',
            name2 : 'a-b',
        },

        computed : { // 计算 一旦两个相关变量发生改变这里的方法将会调用
            
            name1 () {
                return this.firstName +'-'+ this.lastName
            },
            name3 :{
                // 需要读取时掉
                get() {
                    console.log(4);
                    return this.firstName + '-'  + this.lastName
                },
                // 发生改变时掉
                set(value) {
                    console.log(value);
                    let names = value.split('-');
                    this.firstName = names[0];
                    this.lastName = names[1]
                }
            }
        }, 
       
        watch: {
            firstName : function(value) {
                this.name2 = value + '-' + this.lastName
            }
        } 
    });
    vm.$watch('lastName',function (value){
        this.name2 = this.firstName + '-' + value
    })
  

    

    </script>
</body>
</html>